

{% extends "basefront.html.twig" %}

{% block body %}
    {% for visite in visites %}
        {{ visite.ville }}
     {% endfor %}
<h1>Page Voyages</h1>
<a href="{{  path('accueil') }}">accueil</a>
{% endblock %}
